docs/example/downloadables/Workflow_Outlook_Docs.json
{
  "name": "Workflow Outlook Docs",
  "nodes": [
    {
      "parameters": {},
      "id": "4a1b3794-27b0-418f-a55c-d1ae2e2fe485",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "operation": "getAll",
        "folderId": "={{$json[\"check_id\"]}}",
        "additionalFields": {
          "filter": "isRead eq false"
        }
      },
      "name": "Get unread messages",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -680,
        700
      ],
      "id": "82a51178-ed1c-44bc-a8ea-59e494c98633",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "18",
          "name": "Microsoft Outlook DocDemo"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": "={{ $json[\"id\"] }}",
        "updateFields": {
          "isRead": true
        }
      },
      "name": "Mark message as read",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -460,
        480
      ],
      "id": "bad5259c-ac0a-4ca5-ad6e-e9c917a7d2be",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "18",
          "name": "Microsoft Outlook DocDemo"
        }
      }
    },
    {
      "parameters": {
        "interval": 60
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -1500,
        800
      ],
      "id": "dad40043-d57f-49e6-b0b5-79b49217994c"
    },
    {
      "parameters": {
        "label": "={{$node[\"Get Folder Name\"].json[\"name\"]}}",
        "doc_type": "INVOICE",
        "importtype": "email",
        "address": "={{$node[\"Get unread messages\"].json[\"sender\"][\"emailAddress\"][\"address\"]}}",
        "inbox": "={{$node[\"Get Folder Name\"].json[\"inbox\"]}}",
        "sub_org": "fcb1d623-1953-4f4a-8309-b3506b65933c"
      },
      "id": "c7aca707-8b4a-4cab-abbf-23eb4253c664",
      "name": "Upload Document",
      "type": "n8n-nodes-base.upload",
      "typeVersion": 1,
      "position": [
        440,
        440
      ],
      "alwaysOutputData": false,
      "credentials": {
        "Doc2AppApi": {
          "id": "12",
          "name": "Doc2App account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": "={{ $json[\"id\"] }}",
        "additionalFields": {}
      },
      "id": "b592eec2-8467-4bf2-b315-0bc8f22f218c",
      "name": "Get Attachments",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -460,
        700
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "18",
          "name": "Microsoft Outlook DocDemo"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": "={{ $node[\"Get unread messages\"].json[\"id\"] }}",
        "attachmentId": "={{$json[\"id\"]}}"
      },
      "id": "c5505872-a8a3-4122-b1b9-eb83679e6c1b",
      "name": "Download Attachment",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -240,
        700
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "18",
          "name": "Microsoft Outlook DocDemo"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const folders = [\n  \"101_Polydocs\",\n  \"102_Polydocs\"\n];\n\nif ($node[\"Microsoft getFolders\"].json[\"displayName\"]){\n  folder_name =  $node[\"Microsoft getFolders\"].json[\"displayName\"];\n\n  for (const folder of folders) {\n    console.log(folder)\n    if (folder == folder_name){\n      item.check_id = $node[\"Microsoft getFolders\"].json[\"id\"];\n    }\n  }\n}\n\nreturn item;\n"
      },
      "id": "22c37573-b647-46cd-8dec-7b243228672b",
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        -1100,
        800
      ]
    },
    {
      "parameters": {},
      "id": "1daa4384-592f-42ba-8f49-69a2d0f6f110",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -680,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"check_id\"]}}",
              "value2": "={{$json[\"id\"]}}"
            }
          ]
        }
      },
      "id": "75f6e57c-6cef-4bf3-97ed-37fa6faa55c9",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -900,
        800
      ]
    },
    {
      "parameters": {
        "functionCode": "const folderls = [\n  $node[\"FunctionItem\"].json[\"displayName\"]\n];\n\n\n\nconst folders = [\n  \"101_Polydocs\",\n  \"102_Polydocs\"\n];\n\nid = $node[\"FunctionItem\"].json[\"check_id\"];\nnames = $node[\"FunctionItem\"].json[\"displayName\"];\n\nif (id){\n  for (const folder of folders) {\n    if (folder == names){\n      item.inbox = names;\n    }\n  }\n}\n\nreturn item;"
      },
      "id": "9b4495ed-c78d-491b-b72c-0d05028c1dfb",
      "name": "Get Folder Name",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        -20,
        700
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"inbox\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "101_Kostenrechnung"
            },
            {
              "value2": "102_Wareneingangrechnung",
              "output": 1
            }
          ]
        }
      },
      "id": "51b392de-9821-4939-9bf5-9e1107f7f666",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        200,
        700
      ]
    },
    {
      "parameters": {
        "label": "={{$node[\"Get Folder Name\"].json[\"name\"]}}",
        "doc_type": "INVOICE",
        "importtype": "email",
        "address": "={{$node[\"Get unread messages\"].json[\"sender\"][\"emailAddress\"][\"address\"]}}",
        "inbox": "={{$node[\"Get Folder Name\"].json[\"inbox\"]}}",
        "sub_org": "bc7ed89e-1b23-4e7e-ad3e-89791f357864"
      },
      "id": "2cd5bc19-71c7-4af3-826f-54837038cd79",
      "name": "Upload Document1",
      "type": "n8n-nodes-base.upload",
      "typeVersion": 1,
      "position": [
        440,
        700
      ],
      "alwaysOutputData": false,
      "credentials": {
        "Doc2AppApi": {
          "id": "12",
          "name": "Doc2App account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "getAll",
        "additionalFields": {}
      },
      "id": "53071cba-4e36-4a5f-b84d-bcc7bf1b6863",
      "name": "Microsoft getFolders",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -1300,
        800
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "18",
          "name": "Microsoft Outlook DocDemo"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get unread messages": {
      "main": [
        [
          {
            "node": "Mark message as read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval": {
      "main": [
        [
          {
            "node": "Microsoft getFolders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attachments": {
      "main": [
        [
          {
            "node": "Download Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Attachment": {
      "main": [
        [
          {
            "node": "Get Folder Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get unread messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Name": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Upload Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft getFolders": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 8,
  "meta": {
    "instanceId": "d6d8b0cd086866de0f8a89d32c2e82629886a21b160aff77440383fe235ef72b"
  },
  "tags": []
}