docs/_workflows/ai-code/data-transformation.json
{
  "name": "Data transformation",
  "nodes": [
    {
      "parameters": {},
      "id": "3ada6076-1cfb-4c2d-a421-4fce5466fc2d",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1340,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n{\n\"user_id\":\n\"53043\",\n\"username\":\n\"stevenn8n\",\n\"date\":\n\"2023-08-10\",\n\"variant\":\n\"control\",\n\"data_exec_success\":\n\"TRUE\"\n},\n{\n\"user_id\":\n\"72955\",\n\"username\":\n\"otoqitest\",\n\"date\":\n\"2023-08-10\",\n\"variant\":\n\"control\",\n\"data_exec_success\":\n\"TRUE\"\n},\n{\n\"user_id\":\n\"73022\",\n\"username\":\n\"muflih\",\n\"date\":\n\"2023-08-10\",\n\"variant\":\n\"control\",\n\"data_exec_success\":\n\"FALSE\"\n},\n{\n\"user_id\":\n\"73026\",\n\"username\":\n\"hkhjk\",\n\"date\":\n\"2023-08-10\",\n\"variant\":\n\"control\",\n\"data_exec_success\":\n\"FALSE\"\n},\n{\n\"user_id\":\n\"73028\",\n\"username\":\n\"nvmui\",\n\"date\":\n\"2023-08-10\",\n\"variant\":\n\"control\",\n\"data_exec_success\":\n\"FALSE\"\n},\n{\n\"user_id\":\n\"73031\",\n\"username\":\n\"ba144220\",\n\"date\":\n\"2023-08-10\",\n\"variant\":\n\"control\",\n\"data_exec_success\":\n\"TRUE\"\n},\n{\n\"user_id\":\n\"73032\",\n\"username\":\n\"tebe19\",\n\"date\":\n\"2023-08-10\",\n\"variant\":\n\"control\",\n\"data_exec_success\":\n\"FALSE\"\n},\n{\n\"user_id\":\n\"68765\",\n\"username\":\n\"wren\",\n\"date\":\n\"2023-08-09\",\n\"variant\":\n\"control\",\n\"data_exec_success\":\n\"FALSE\"\n},\n{\n\"user_id\":\n\"70810\",\n\"username\":\n\"smrtr\",\n\"date\":\n\"2023-08-09\",\n\"variant\":\n\"variant\",\n\"data_exec_success\":\n\"TRUE\"\n},\n{\n\"user_id\":\n\"72435\",\n\"username\":\n\"socialdraft\",\n\"date\":\n\"2023-08-09\",\n\"variant\":\n\"variant\",\n\"data_exec_success\":\n\"FALSE\"\n}\n]"
      },
      "id": "08e4d878-01ab-4f01-ab27-84ef5afbf581",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "57a9330b-9e46-42a6-b432-681e906de93a",
      "name": "Join items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        840
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Join items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join items": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e90ee562-2afe-4700-9275-354bb57b39b8",
  "id": "B4K5I5pN4nqu85ac",
  "meta": {
    "instanceId": "c5aabef739d71e3d0ceb8b6078a241aaf1b145fa71cbbe36ecfb2c8c3fd64f5f"
  },
  "tags": []
}